body{
    background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding:0;
    margin:0;
   
}

