<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <br> <br>
    <div class="container"> 
        <div class="row text-center"> 
            <div class="col-md-6"> 
                <table id = "myTable" class="table table-hover table-striped shadow-sm bg-white rounded" >
                    <thead>
                        <tr>
                            <th> Following </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% following.forEach(function(following){ %>
                            <tr>
                                <td> <%= following.Name%> </td>
                            </tr>
                      <%  }) %>
                    </tbody>
                </table>
            </div> 
            <div class="col-md-6"> 
                <table id = "myTable" class="table table-hover table-striped shadow-sm bg-white rounded" >
                    <thead>
                        <tr>
                            <th> Followers </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% followers.forEach(function(follower){ %>
                            <tr>
                                <td> <%= follower.Name%> </td>
                            </tr>
                      <%  }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
