{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
</head>
<body>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel" style="background-color: blueviolet;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/users/logo.png" style="height: 30px; width: 150px;"> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            {% if not user.is_authenticated %}
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              </li>
            </ul>
            {% else %}
            <!--category menu code -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- Dropdown {{cat_menu}} -->
                  categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for item in cat_menu %}
                  <a class="dropdown-item" href="{% url 'category' item.cid %}"> {{ item }} </a>
                  {% endfor %}
              </li>
            </ul>
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
            </div>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'researcher-profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
            {% endif %}
            </div>
          </div>
        </div>
      </nav>
    <br><br>
    
    <div class="container">
      {% block additional_styles %}
      {% endblock %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}"> 
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>  
          {% block post %}{% endblock %}
          <div class="col-md-2"></div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>