{% extends 'users/base.html' %}
{% block additional_styles %}
    <style>
        body {
            background-image: url('/static/users/background.jpg');
            background-size: 100% 180%;
            background-repeat: no-repeat;
        }

        h5 {
            color: #cecfd2;
            font-family: Cursive;
            text-align: center;
            padding-top: 10em;
            text-shadow: 1px 1px black;
        }
    </style>
    <div class="col-md-6">
        <div class="myRightCtn">
            <div class="box">

                <h5 >Join today! and be a part of one of the largest hub of the scientific society. </h5>

            </div>
        </div>
        </div>
  
{% endblock additional_styles %}