{% extends 'users/base.html' %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ cur_profile.profile_pic.url }}" width="125" height="125">
      <div class="media-body">
        <h2 class="account-heading" style="margin-left: 30px">{{ view.kwargs.username }}</h2>
        <p class="text-secondary" style="margin-left: 30px">{{ cur_profile.email }}</p>
        {% if user.username == cur_profile.username %}
            <a href="{% url 'user-update' %}" class="btn btn-secondary btn-sm" style="margin-left: 30px;"> Edit Profile </a>
        {% endif %}
      </div>
    </div>
</div>
{% for post in posts %}
    <div class="card mb-3">
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ post.title|truncatechars:70 }}</h5>
            <p class="card-text">{{ post.content|truncatechars:200|safe }}</p>
            <a href="{% url 'post-detail' post.aid %}" class="btn btn-primary"> See Details </a>
        </div>
        <div class="card-footer text-secondary">
            <a class="mr-2" href="{% url 'other-people-profile' post.author.username %}">{{ post.author }}</a>|| 
            {{ post.created|date:"F d, Y" }}
        </div> 
    </div>
{% endfor %}
{% endblock content %}