{% extends 'users/base.html' %}
{% block post %}
<div class="form-group">
    <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Article</legend>   
            {{ form.media }}
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary btn-sm btn-block"> Post </button>
        </div>
    </form>
    </div>       
</div>
{% endblock post %}
