{% extends 'users/base.html' %}
{% block content %}
    <div class="card mb-3">
        <img class="card-img-top" src="{{ object.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.content|safe }}</p>
            <p class="card-text"> <b> Specialization: </b> {{ object.cid }} </p>
            {% if object.author == user %} 
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.aid %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.aid %}">Delete</a>
            </div>
            {% endif %}
            <hr>
            <form action="{% url 'post-like' object.pk %}" method="POST">
                {% csrf_token %}
                {% if post_is_liked %}
                <button type="submit" name="post_id" value="{{object.aid}}" class="btn btn-danger btn-sm">Unlike</button>
                {% else %}
                <button type="submit" name="post_id" value="{{object.aid}}" class="btn btn-info btn-sm">Like</button>
                {% endif %}
                - {{ post.like.count }} Likes
              </form>
        </div>
        <div class="card-footer text-secondary">
            <a class="mr-2" href="{% url 'other-people-profile' object.author.username %}">{{ object.author }}</a>|| 
            {{ object.created|date:"F d, Y" }}
        </div> 
    </div>
    <div class="card text-info border mb-3 shadow bg-white rounded" alt="Card image" style="width:730px">
        <div class="card-body text-dark">
            <h2>Leave your comment!</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form }}
                </div>
                <button type="submit" class="btn btn-primary btn-sm"> Comment </button>
            </form>
            <div>
                <br/><br/>
                {% if not object.comments.all %}
                <hr>
                <h6> No comment yet </h6>
                {% else %}
                <h4 class="text-secondary">{{ object.numberOfComments }} Comment{{ object.numberOfComments|pluralize }} </h4> <!-- Add a 's' at the end of the number, if the number is not 1 -->
                <hr>
                {% for comment in object.comments.all %}
                <h5> {{ comment.author }} </h5>
                <h7> {{ comment.comment }} </h7> <br>
                <h9 class="text-secondary"> {{ comment.created }} </h9>
                <hr>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    
{% endblock content %}
