{% extends 'users/base.html' %}
{% block content %}
{% for post in posts %}
    <div class="card mb-3">
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ post.title|truncatechars:70 }}</h5>
            <p class="card-text">{{ post.content|truncatechars:200 }}</p>
            <a href="" class="btn btn-primary"> See Details </a>
        </div>
        <div class="card-footer text-secondary">{{ post.created|date:"F d, Y" }}</div> 
    </div>
{% endfor %}
{% endblock content %}